:root {
  --white-color: #ffffff;
  --footer-bg-color: #2f303a;
  --secondary-grey-color: #f5f4fa;
  --black-color: #212121;
  --main-grey-color: #757575;
  --blue-color: #2196f3;
}

body {
  font-family: Roboto, 'Times New Roman', Times, serif;
  color: var(--main-grey-color);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* ------------------buttons ----------------------*/

.btn {
  background: var(--secondary-grey-color);
  font-family: Roboto;

  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--black-color);
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-color);
}
/* .main-content-btn {
  background: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
} */

/* --------------------links--------------------- */

.link {
  text-decoration: none;
  color: var(--main-grey-color);
}
.link-header {
  text-decoration: none;
  color: var(--black-color);
}
.link:hover,
.link:focus {
  color: var(--blue-color);
}

/* ------link----- */

.link-footer {
  text-decoration: none;
  color: var(--main-grey-color);
}
.link-footer:hover,
.link-footer:focus {
  color: var(--white-color);
}

/* ------------------------header------------------ */

.header {
  min-width: 1600px;
  padding-top: 24px;
  padding-bottom: 25px;
  background-color: var(--white-color);

  border: 1px solid #ececec;
}
.header-flex {
  display: flex;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.logo {
  margin-right: 93px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--blue-color);
}
.logo-blue {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--black-color);
}
.logo-white {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-nav-list {
  list-style: none;
  display: flex;
  /* margin-right: 331px; */
}
.header-nav-list-item {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  margin-right: 50px;

  color: #212121;
}
.header-nav-list-item:last-child {
  margin-right: 0px;
}
.header-contact-list {
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  list-style: none;
  margin-left: 331px;
}
.header-contact-list-item {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  margin-right: 50px;
}
.header-contact-list-item:last-child {
  margin-right: 0px;
}
/* ----------------Main content------------------ */

.main {
  background-color: var(--white-color);
}

/* ----------------Section click --------------------*/
.main-content-click {
  background-color: var(--footer-bg-color);
  align-items: center;
  min-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
}
.main-content-text {
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
}
.main-content-btn {
  background: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin-top: 30px;
  margin-left: 700px;
  margin-bottom: 200px;
}

/* ------------------What are we doing-------------------- */

.our-features-section {
  background-color: var(--white-color);
  min-width: 1600px;
}
.our-features {
}
.our-features-list {
  list-style: none;
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-features-list-item {
  margin-right: 30px;
}
.our-features-list-item:last-child {
  margin-right: 0;
}

.our-features-item-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 270px;
  height: 16px;
  margin-bottom: 10px;

  color: var(--black-color);
}
.our-features-item-text {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  width: 270px;
  height: 75px;
  /* color: var(--main-grey-color); */
}

/* title and img */

.our-features-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  /* padding-top: 94px; */
  /* padding-bottom: 50px; */

  color: var(--black-color);
}

.our-features-pictures-list {
  list-style: none;
  display: flex;
  /* justify-content: center; */
  padding-top: 50px;
  padding-bottom: 94px;
}

.our-features-pictures-item {
  margin-right: 30px;
}
.our-features-pictures-item:last-child {
  margin-right: 0;
}

/* ---------------Our team---------------- */

.our-team-section {
  background-color: var(--secondary-grey-color);
  min-width: 1600px;
}
.our-team-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 94px;
  padding-bottom: 50px;
  color: var(--black-color);
}
.our-team-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-bottom: 94px;
}
.our-team-list-item {
  width: 270px;
  height: 368px;
  margin-right: 30px;
  background-color: var(--white-color);
}
.our-team-list-item:last-child {
  margin: 0;
}
.our-team-list-item-img {
}

.our-team-list-item-title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--black-color);
}
.our-team-list-item-text {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

/* ------------------footer--------------------- */

.footer {
  background-color: var(--footer-bg-color);
  min-width: 1600px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--blue-color);
  padding-bottom: 20px;
}

.footer-address-block {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  /* padding-bottom: 60px; */
}
.footer-address-list {
  list-style: none;
}
.footer-address-list-item {
  margin-bottom: 9px;
}
.footer-address-list-item:last-child {
  margin-bottom: 0;
}

/* ------------------------------Portfolio------------------------------------- */
.portfolio {
}
/* -------------------portfolio filter------------------- */
.portfolio-filter-section {
}
.portfolio-filter-section-list {
  list-style: none;
}
/* ------------------portfolio examples section--------------- */
.portfolio-examples-list {
  list-style: none;
}
.portfolio-examples-list-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.25;
  letter-spacing: 0.06em;

  color: var(--black-color);
}
.portfolio-examples-list-item-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
